In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('exp_train.csv')
df

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Monthly_Balance,Credit_Score,Credit-Builder Loan,Personal Loan,Debt Consolidation Loan,Student Loan,Payday Loan,Mortgage Loan,Auto Loan,Home Equity Loan
0,CUS_0xd40,January,23.000000,Scientist,19114.12,1824.843333,3.0,4,3,4.0,...,312.494089,Good,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
1,CUS_0xd40,February,23.000000,Scientist,19114.12,4194.170850,3.0,4,3,4.0,...,284.629162,Good,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
2,CUS_0xd40,March,33.324759,Scientist,19114.12,4194.170850,3.0,4,3,4.0,...,331.209863,Good,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
3,CUS_0xd40,April,23.000000,Scientist,19114.12,4194.170850,3.0,4,3,4.0,...,223.451310,Good,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
4,CUS_0xd40,May,23.000000,Scientist,19114.12,1824.843333,3.0,4,3,4.0,...,341.489231,Good,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,CUS_0x942c,April,25.000000,Mechanic,39628.99,3359.415833,4.0,6,7,2.0,...,479.866228,Poor,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
99996,CUS_0x942c,May,25.000000,Mechanic,39628.99,3359.415833,4.0,6,7,2.0,...,496.651610,Poor,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
99997,CUS_0x942c,June,25.000000,Mechanic,39628.99,3359.415833,4.0,6,5729,2.0,...,516.809083,Poor,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
99998,CUS_0x942c,July,25.000000,Mechanic,39628.99,3359.415833,4.0,6,7,2.0,...,319.164979,Standard,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
99999,CUS_0x942c,August,25.000000,Mechanic,39628.99,3359.415833,4.0,6,7,2.0,...,393.673696,Poor,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [3]:
df = df.drop(['Customer_ID', 'Month', 'Occupation', 'Payment_of_Min_Amount', 'Payment_Behaviour'], axis=1)
df

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,...,Monthly_Balance,Credit_Score,Credit-Builder Loan,Personal Loan,Debt Consolidation Loan,Student Loan,Payday Loan,Mortgage Loan,Auto Loan,Home Equity Loan
0,23.000000,19114.12,1824.843333,3.0,4,3,4.0,3,7.000000,11.270000,...,312.494089,Good,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
1,23.000000,19114.12,4194.170850,3.0,4,3,4.0,-1,30.923342,11.270000,...,284.629162,Good,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
2,33.324759,19114.12,4194.170850,3.0,4,3,4.0,3,7.000000,10.389025,...,331.209863,Good,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
3,23.000000,19114.12,4194.170850,3.0,4,3,4.0,5,4.000000,6.270000,...,223.451310,Good,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
4,23.000000,19114.12,1824.843333,3.0,4,3,4.0,6,30.923342,11.270000,...,341.489231,Good,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,25.000000,39628.99,3359.415833,4.0,6,7,2.0,23,7.000000,11.500000,...,479.866228,Poor,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
99996,25.000000,39628.99,3359.415833,4.0,6,7,2.0,18,7.000000,11.500000,...,496.651610,Poor,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
99997,25.000000,39628.99,3359.415833,4.0,6,5729,2.0,27,6.000000,11.500000,...,516.809083,Poor,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
99998,25.000000,39628.99,3359.415833,4.0,6,7,2.0,20,30.923342,11.500000,...,319.164979,Standard,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
99999,25.000000,39628.99,3359.415833,4.0,6,7,2.0,18,6.000000,11.500000,...,393.673696,Poor,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [4]:
df.dtypes

Age                         float64
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts           float64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                 float64
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                  float64
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age          float64
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Monthly_Balance             float64
Credit_Score                 object
Credit-Builder Loan         float64
Personal Loan               float64
Debt Consolidation Loan     float64
Student Loan                float64
Payday Loan                 float64
Mortgage Loan               float64
Auto Loan                   float64
Home Equity Loan            float64
dtype: object

In [5]:
from sklearn.ensemble import RandomForestClassifier
rfc_model = RandomForestClassifier(max_depth=None, random_state=2)

In [6]:
X = df.drop(['Credit_Score'], axis = 1)
y = df['Credit_Score']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(80000, 26) (20000, 26) (80000,) (20000,)

In [8]:
rfc_model.fit(X_train, y_train)

RandomForestClassifier(random_state=2)

In [9]:
y_test_pred = rfc_model.predict(X_test)
y_test_pred

array(['Standard', 'Poor', 'Standard', ..., 'Poor', 'Poor', 'Standard'],
      dtype=object)

In [10]:
from sklearn.metrics import accuracy_score, confusion_matrix, log_loss, classification_report

accuracy = accuracy_score(y_test, y_test_pred)
accuracy

0.79155

In [11]:
y_test_pred_proba = rfc_model.predict_proba(X_test)

logloss = log_loss(y_test, y_test_pred_proba)
logloss

0.5263109069789541

In [13]:
cm = confusion_matrix(y_test, y_test_pred)
cm

array([[2602,   20,  934],
       [  88, 4701, 1035],
       [ 829, 1263, 8528]], dtype=int64)

In [14]:
print(classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

        Good       0.74      0.73      0.74      3556
        Poor       0.79      0.81      0.80      5824
    Standard       0.81      0.80      0.81     10620

    accuracy                           0.79     20000
   macro avg       0.78      0.78      0.78     20000
weighted avg       0.79      0.79      0.79     20000